html,
body{
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after{
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
}
body{
    background: #F2F5E9;
    min-height: 100%;
    font: 14px/1.475 "Helvetica Neue", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "sans-serif";
    /*
    rgba(0,0,0,.03)
    F2F5E9
    FFFCF5
    E8E7E3
    */
}
a{
    text-decoration: none;
    color: #ffb400;
}
.container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.content{
    flex-basis: 840px;
    max-width: 100%;
    overflow: auto;
    align-self: flex-start;
}
.aside{
   flex-basis: 280px;
   align-self: flex-start;
}
.block-card{
    display: block;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 4px 2px 2px rgba(0,0,0,.03);
}
.material-icons {
    font-size: 12px;
    vertical-align: middle;
}

/*btn*/
.btn{
    padding: 5px 10px;
    outline: 0;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.03);
}

.avatar{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.fullname {
    font-weight: bold;
    color: #292f33;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}
.username, .time, .metadata{
   font-size: 13px;
   color: #8899a6; 
}
.node{
    font-size: 12px;
    background: #f5f5f5;
    color: #666;
    border-radius: 9px;
    border: 1px solid #eee;
    padding: 2px 8px;
    vertical-align: baseline;
}

/*stream*/
.stream-item{
    display: flex;
    align-items: flex-start;
    padding: 9px 12px;
    border-bottom: 1px solid#e1e8ed;
    min-height: 54px;
}
.stream-item-body{
    flex:1;
}
.stream-item-avatar, 
.stream-item-metadata{
    margin-right: 1em;
}
.stream-item-metadata{
    background: rgba(0,0,0,.02);
    color: #9AA8B1;
    box-shadow: 0 0 2px rgba(0,0,0,.08) inset;
    border-radius: 5px;
}
.stream-metadata-item{
    height: 26px;
    line-height: 26px;
    width: 48px;
    text-align: center;
}
.stream-metadata-item:first-child{
    border-bottom: 1px solid rgba(162, 165, 166, 0.18);
}
.stream-item-author-link{
    color: #ffb400;
}
.stream-item-author-link:hover .fullname{
    color: #ffb400;
}

.post-item-title{
    font-size: 16px;
    margin: 10px 10px 10px 0;
}

.post-item-title a{ 
    /*http://nipponcolors.com/#uguisucha*/
    color: #6C6024;
    transition: color ease-in .3s;
}

.post-item-title a:hover{
    color: #FEB62A;
    /**/
}

user-post-item .post-item-title{
    margin-top: 0;
}

/*breadcrumb*/
.breadcrumb{
    padding: 0;
    margin: 0;
}
.breadcrumb li{
    list-style: none;
    display: inline-block;
}
.breadcrumb li:after{
    content: '›';
    color: #666;
    display: inline-block;
    padding: 0 0.45em;
}
.breadcrumb li:last-child::after{
    content: '';
    display: none;
}
.page-nav{
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

idevjs-app{
    display: block;
    /*flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;*/
    min-height: 100%;
}

idevjs-nav{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 4px 2px 2px rgba(0,0,0,.03);
}

.idevjs-footer{
    display: flex;
    align-self: flex-end;
    height: 100px;
    width: 100%;
    background: #fff;
}

post-list post-item:first-child{
    border-radius: 4px;
}

.side-card-body{
    padding:10px;
}
.side-card img{
    max-width: 100%;
}

@media all and (max-width: 1280px){
    .container{
        width: 1140px;
    }
    .content{
        flex-basis: 840px;
    }
}
/**
 * yue.css
 *
 * yue.css is designed for readable content.
 *
 * Copyright (c) 2013 - 2014 by Hsiaoming Yang.
 */

.yue {
  font: 400 16px/1.8 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}

.windows .yue {
  font-size: 18px;
  font-family: "Georgia", "SimSun", sans-serif;
}

.yue ::-moz-selection {
  background-color: rgba(0,0,0,0.2);
}

.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: rgba(0,0,0,.8);
}

.yue h1 {
  font-size: 1.8em;
  margin-top: 0.67em;
}

.yue > h1 {
  margin-top: 0;
  font-size: 2em;
}

.yue h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
}

.yue h3 {
  font-size: 1.17em;
  margin-top: 1em;
}

.yue h4,
.yue h5,
.yue h6 {
  font-size: 1em;
  margin-top: 1.6em;
}

.yue h6 {
  font-weight: 500;
}

.yue p {
  margin-top: 0;
  margin-bottom: 1.46em;
}

.yue a {
  color: #111;
  word-wrap: break-word;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: rgba(0, 0, 0, 0.4);
}

.yue a:hover {
  color: #555;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-color: rgba(0, 0, 0, 0.6);
}

.yue h1 a,
.yue h2 a,
.yue h3 a {
  text-decoration: none;
}

.yue strong,
.yue b {
  font-weight: 700;
  color: #222223;
}

.yue em,
.yue i {
  font-style: italic;
  color: #222223;
}

.yue img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}

.yue a img {
  /* Remove border on IE */
  border: none;
}

.yue figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}

.yue figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
}

.yue figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}

.yue figure figcaption a {
  text-decoration: none;
  color: #666665;
}

.yue hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 3px solid #dededc;
}

.yue blockquote {
  margin: 0 0 1.64em 0;
  padding-left:20px;
  border-left: 3px solid rgba(0,0,0,.8);
  color: #666664;
}

.yue blockquote a {
  color: #666664;
}

.yue ul,
.yue ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}

.yue ol {
  list-style-type: decimal;
}

.yue li {
  margin-bottom: 0.2em;
}

.yue li ul,
.yue li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}

.yue li ul {
  list-style-type: disc;
}

.yue li ul ul {
  list-style-type: circle;
}

.yue li p {
  margin: 0.4em 0 0.6em;
}

.yue .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.yue code,
.yue tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  margin: 0 5px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}

.yue pre {
  margin: 1.5em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}

.yue pre code,
.yue pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}

.yue table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}

.yue th,
.yue td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}

.yue td {
  vertical-align: top;
}

.yue tr:nth-child(even) {
  background-color: #efefee;
}

.yue iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.yue figure iframe {
  margin: auto;
}

.yue table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.yue ::selection{
    background: #000;
    color:#fff;
}
.yue *:last-child{
    margin-bottom:0
}