html,
body{
    margin: 0;
    padding: 0;
    background: #F2F5E9;
    /*
    rgba(0,0,0,.03)
    F2F5E9
    FFFCF5
    E8E7E3
    */
}
.container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.content{
    flex-grow: 2;
    flex-basis: 65%;
    max-width: 100%;
    overflow: auto;
    align-self: flex-start;
}
.aside{
   flex-grow: 1;
   /*flex-basis: 30%;*/
   align-self: flex-start;
}
.material-icons {
    font-size: 12px;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #ffb400;
}
.avatar{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.fullname {
    font-weight: bold;
    color: #292f33;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}
.username, .time, .metadata{
   font-size: 13px;
   color: #8899a6; 
}
.node{
    font-size: 12px;
    background: #f5f5f5;
    color: #666;
    border-radius: 9px;
    border: 1px solid #eee;
    padding: 2px 8px;
    vertical-align: baseline;
}
.stream-item{
    display: flex;
    align-items: flex-start;
    padding: 9px 12px;
    border-bottom: 1px solid#e1e8ed;
    min-height: 54px;
}
.stream-item-body{
    flex:1;
}
.stream-item-avatar{
    margin-right: 1em;
}
.stream-item-author-link{
    color: #ffb400;
}
.stream-item-author-link:hover .fullname{
    color: #ffb400;
}
idevjs-nav{
    display: block;
    margin-bottom: 30px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 4px 2px 2px rgba(0,0,0,.03);
}
post-list{
    display: block;
    border-radius: 4px;
    box-shadow: 4px 2px 2px rgba(0,0,0,.03);
    border-bottom: none;
    background: #fff;
}

post-list post-item:first-child{
    border-radius: 4px;
}