<div class="comment-item stream-item" *ngIf="comment">
    <img src="{{comment.author.gravatar}}" alt="" class="stream-item-avatar avatar">
    <div class="stream-item-body">
        <div class="stream-item-header">
            <a class="stream-item-author-link" href="" attr.data-user-id="{{comment.author._id}}">
                <strong class="fullname comment-profile-fullname">{{comment.author.name}}</strong>
                <span class="username comment-profile-username">
                    @{{comment.author.name}}
                </span>
            </a>
            <small class="time">{{comment.created_at | date: 'MM/dd'}}</small>
            <span >
                <i class="material-icons icon-fav">favorite</i>
                <small class="like-count">{{comment.likes_count}}</small>
            </span>
        </div>
        <div class="stream-item-content">
            {{comment.content}}
        </div>
        <div class="stream-item-footer">
            
        </div>
    </div>
    
</div>