<article class="post-item stream-item" *ngIf="post">
    <img class="stream-item-avatar avatar" src="{{post.author.gravatar}}" alt="">
    <div class="stream-item-body">
        <div class="stream-item-header">
            <a class="fullname" [routerLink]="['AccountPage', {id: post.author._id}]">{{post.author.name}}</a>
            <span class="metadata">
                <a class="node" [routerLink]="['NodePost', {name: post.node.name}]" attr.data-node-id="{{post.node._id}}">{{post.node.alias}}</a>
                <small class="time"><time-ago [time]="post.created_at" [sufix]="'ago'" [afterMaxDateFormat]="'yMMdd'" [interval]="10000"></time-ago></small>
            </span>
        </div>
        <div class="stream-item-content">
            <h2 class="post-item-title"><a [routerLink]="['PostDetail', {id:post._id}]">{{post.title}}</a></h2>
        </div>
        <div class="stream-item-footer">
            <span class="like-count metadata">
                <i class="material-icons icon-fav" (click)="like(post)">favorite_border</i>
                {{post.likes_count}} 人喜欢
            </span>
            <span class="comment-count metadata">
                <i class="material-icons">chat_bubble_outline</i>
                {{post.comments_count}} 条评论</span>
            <span *ngIf="post.last_comment_user" class="last-comment-by metadata">
                最后回复来自 <a href="" attr.data-user-id="post.last_comment_user._id">{{post.last_comment_user.name}}</a>
            </span>
        </div>
    </div>
    
    
</article>