<post-header>
    <div class="post-header-left">
        <post-node>
            <a [routerLink]="['Home']">iDevJS</a>
            <a class="node" [routerLink]="['NodePost', {name: post.node.name}]">{{post.node.name}}</a> • {{post.tab}}
        </post-node>
        <post-title>{{post.title}}</post-title>
        <post-metadata>
            <a [routerLink]="['AccountPage', {id: post.author._id}]">{{post.author.name}}</a> • {{post.created_at | date:
            'short'}} • {{post.views_count}}次查看
        </post-metadata>
    </div>
    <div class="post-header-right">
        <img post-avatar src="{{post.author.gravatar}}" alt="">
    </div>
</post-header>
<post-body class="article-body" [innerHTML]="post.content"></post-body>
<post-footer>

</post-footer>