<div class="container">
    <section class="content">
        <div class="post-list block-card">
            <div class="page-nav">
                <ul class="breadcrumb">
                    <li><a [routerLink]="['/']" >iDevJS</a></li>
                    <li><a [routerLink]="['/u', name]">{{name}}</a></li>
                    <li>全部回复</li>
                </ul>
            </div>
            <user-comment-item *ngFor="let comment of comments" [comment]="comment"></user-comment-item>
            <ac-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ac-pagination>
        </div>
    </section>
</div>
