<div class="container">
    <section class="content">
        <div class="user-profile block-card" *ngIf="user">
            <img src="{{user.gravatar}}" />
            <h1>{{user.name}}</h1>
        </div>
        <div class="post-list block-card">
            <div class="card-header">Ta最近创建的主题</div>
            <user-post-item *ngIf="posts" *ngFor="let post of posts" [post]="post"></user-post-item>
            <div class="card-footer">
                <a [routerLink]="['/u', _name]">查看Ta创建的更多主题</a>
            </div>
        </div>
        <div class="comment-list block-card">
            <div class="card-header">Ta最近创建的回复</div>
            <user-comment-item *ngIf="comments" *ngFor="let comment of comments" [comment]="comment"></user-comment-item>
            <div class="card-footer">
                <a href="">查看Ta创建的更多回复</a>
            </div>
        </div>
    </section>
</div>
