<div class="container">
    <section class="content">
        <div class="post-list block-card">
            <div class="page-nav">
                <ul class="breadcrumb">
                    <li><a href="/">iDevJS</a></li>
                    <li><a [routerLink]="['/u', _name]">{{_name}}</a></li>
                    <li>全部主题</li>
                </ul>
            </div>
            <user-post-item *ngIf="posts" *ngFor="let post of posts" [post]="post"></user-post-item>
            <ac-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ac-pagination>
        </div>
    </section>
</div>
