.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left, .navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right{
    justify-content: flex-end;
}

.navbar-left .navbar-item:not(:last-child), 
.navbar-right .navbar-item:not(:last-child){
    margin-right: 10px;
}

.navbar-item a{
    display: inline-block;
    padding: 15px 6px;
}

.navbar-item .navbar-brand{
    text-indent: -999px;
    background-image: url(/img/transparent-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}